body {
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}
.card {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.or-sed {
  width: 250px;
  height: 400px;
  background: hsl(31, 77%, 52%);
  border-radius: 5px 0 0 5px;
}
.cy-suv {
  width: 250px;
  height: 400px;
  background: hsl(184, 100%, 22%);
}
.cy-lux {
  width: 250px;
  height: 400px;
  background: hsl(179, 100%, 13%);
  border-radius: 0 5px 5px 0;
}
p {
  font-size: 13px;
  font-family: "Lexend Deca", sans-serif;
  margin-top: -65px;
  padding: 35px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  margin-top: -50px;
  padding: 35px;
  color: hsl(0, 0%, 95%);
}
svg {
  padding: 35px;
}
button {
  margin-left: 40px;
  width: 125px;
  height: 40px;
  border-radius: 50px 50px;
  padding: 5px;
  border: 2px solid;
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  position: sticky;
}
button:hover {
  box-shadow: hsl(0, 0%, 95%) inset;
  background: transparent;
  color: hsl(0, 0%, 95%);
  transition: ease 0.3s;
  cursor: pointer;
}
.b1 {
  color: hsl(31, 77%, 52%);
}
.b2 {
  color: hsl(184, 100%, 22%);
}
.b3 {
  color: hsl(179, 100%, 13%);
}
@media only screen and (max-width: 370px) {
  /* For mobile phones: */
  .card {
    display: block;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: auto;
    width: 375px;
  }
  .or-sed {
    border-radius: 5px 5px 0 0;
  }
  .cy-lux {
    border-radius: 0 0 5px 5px;
  }
}
